.crypto {
  margin: 4px;
  border: 1px solid red;
  border-radius: 4px;
  display: flex;
  min-width: 300px;
  padding: 4px;

  .image-section, .data-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-section {
    border: 1px solid green;

    img {

      height: 64px;
      width: 64px;
      object-fit: cover;
    }
  }

  .data-section {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;


  }
}