.crypto-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  section, .coins {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  section {
    position: sticky;
    z-index: 1;
    top: 0;
    background: hsl(200%,50%,90%);
  }

  .coins {
    flex-wrap: wrap;
  }

}