.crypto-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  section, .coins {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .coins {
    flex-wrap: wrap;
  }

}