.crypto {
  border-radius: 8px;
  display: flex;
  flex: 1 1 0;
  min-width: 300px;
  padding: 12px;
  cursor: pointer;
  background: hsl(0, 0%, 93%);
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.3);
  gap: 16px;

  .image-section, .data-section {
    display: flex;
  }

  img {
    height: 64px;
    width: 64px;
    object-fit: cover;
  }

  .data-section {
    flex-direction: column;

     p {
       line-height: 1.75;

     }
  }

  &:hover {
    transform: scale(1.05);
    background: hsl(100, 40%, 90%);
  }
}