.App {
  transition: all 200ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1 {
  padding: 56px 16px;
  text-align: center;
  background-color: #4DA8DA;
}

.App main {
  padding: 16px 0;
  max-width: 78rem;
  margin:auto;
}

